*{
    padding:0;
    margin: 0;
}

body{
    overflow-x: hidden;
    width: 100vw;
}

/* Typography */
    @font-face {
        font-family: 'Gobold';
        src: url(fonts/Gobold\ Hollow\ Bold.otf) format('opentype'),
             url(fonts/Gobold_Hollow_Bold.ttf) format('truetype');
    }
    
    h1, span{
        font-family: 'Gobold';
        font-weight: 600;
        font-size: 3.5rem;
    }
    
    h2, h3{
        font-family: 'montserrat', 'sans serif';
        font-weight: 500;
    }

    span{
        overflow: hidden;
        position: relative;
        z-index: 2;
        font-size: 3.25rem;
    }
/* Typography */

/* Buttons */
    .btn1{
        background:transparent;
        color: inherit;
        border: 1px solid #aa2d2f;
        padding: 0.65rem 1rem;
        transition: 0.35s ease-in;
    }

    .btn1:hover{
        background: #aa2d2f;
        color: white;
    }

    .btn2{
        background-color: #aa2d2f;
        border: none;
        color: white;
        padding: 0.65rem 2.5rem;
        transition: 0.35s ease-in;
    }

    .btn2:hover{
        background: transparent;
        color: #aa2d2f;
    }
/* Buttons */

/* Banner Section */
    .header, .headerTop, .headerBottom, .headerTopLeft, .socialIcons{
        display: flex;
    }

    .bannerWrapper{
        display: grid;
        grid-template-columns: 2fr 5fr 3fr;
        background: linear-gradient(45deg, #fdf1f1, #fce7e7);
        z-index: -2;
    }

    .header{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 1rem 2rem;
        height: 8.5rem;
    }

    .headerTop{
        justify-content: space-between;
        border-bottom: 0.1px solid rgba(170, 45, 47, 0.5);;
        margin-left: 4rem;
    }

    .headerTop ul, .socialIcons{
        list-style: none;
        padding: 0;
        margin-left: 2rem;
    }

    .headerTop ul li a, .socialIcons li a{
        color: inherit;
        text-decoration: none;
        opacity: 0.7;
    }

    .headerTop ul li:hover a{
        opacity: 1;
    }

    .headerBottom{
        margin-left: 9.45rem;
    }

    .headerBottom .container-fluid{
        padding: 0;
    }

    .socialIcons{
        list-style: none;
    }

    .socialIcons li{
        padding-inline: 0.4rem;
    }

    .headerTop ul, .socialIcons{
        margin: 0;
        font-family: 'Montserrat';
        font-size: 0.9rem;
        font-weight: 500;
        color: #aa2d2f;
    }

    .hoverUnderline{
        position: relative;
        display: inline-block;
    }

    .hoverUnderline::after{
        content: '';
        position: absolute;
        width: 75%;
        transform: scaleX(0);
        height: 1.75px;
        bottom: 0.25rem;
        left: 0.75rem;
        background-color: #aa2d2f;
        transform-origin: bottom right;
        transition: transform 0.35s ease;
    }

    .hoverUnderline:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .topMenu li{
        padding-inline: 0.15rem;
        text-transform: uppercase;
        font-family: 'Montserrat';
        font-size: 0.9rem;
        font-weight: 500;
    }

    /* .topMenu li::before{
        counter-reset: nav;
        counter-increment: nav;
        content: "0" counter(nav);
        font-size: 14px;
        transition: all 500ms ease;
        display: block;
    } */

    .heroLeft{
        grid-column: 1/4;
        grid-row-start: 2;
        padding: 4rem;
        padding-bottom: 0;
        position: relative;
        display: flex;
    }

    .heroLeft div:first-child{
        margin-top: 2rem;
        padding-bottom: 9rem;
    }

    .heroLeft span{
        color: #aa2d2f;
    }

    .heroLeft span::before {
        content: "";
        position: absolute;
        top: -40%;
        left: -1.5%;
        z-index: -1;
        background: url(images/textbackground.png);
        height: 140%;
        width: 100%;
        background-size: cover;
        transform: rotate(2deg);
    }

    .heroLeft div:first-child{
        flex: 1 0 50%;
    }

    .BannerImg{
        position: relative;
    }

   .bannerImgWrapper::before{
    border-right: 2px solid white;
    height: 67.5%;
    margin-bottom: auto;
    content: '';
    display: block;
    left: 26rem;
    top: -0.8rem;
    position: absolute;
   }

   .bannerImgWrapper::after{
    content: '';
    border-top: 2px solid white;
    width: 31.5%;
    display: block;
    position: absolute;
    left: 17.3rem;
    top: -0.8rem;
   }

   .bannerImgWrapper{
    width: 70%;
    position: relative;
   }

    .BannerImg img{
        width: 90%;
    }

    .playBtn{
        position: absolute;
        top: 38%;
        left: 33%;
        transform: translate(-50%, -50%);
    }

    .heroLeft h2{
        width: 100%;
        line-height: 1.5;
    }

    .heroLeft p{
        width: 50%;
    }

    .heroRight{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column: 3;
    }

    .heroRight img{
        width: 100%;
        height: 70%;
    }

    @media(min-width:1900px){
        .bannerImgWrapper::before{
            height: 63.25%;
            left: 95%;
            height: 62.5%;
            top: -1.5rem;
        }

        .bannerImgWrapper::after{
            width: 40.5%;
            left: 55%;
            top: -1.5rem;
        }
    }

    @media (min-width: 1520px) and (max-width:1899px) {
        .bannerImgWrapper::before {
            height: 60.4%;
            left: 95%;
            top: -1.25rem;
        }

        .bannerImgWrapper::after {
            top: -1.25rem;
            left: 62%;
            width: 33%;
        }
    }

    @media (min-width:1440px) and (max-width:1520px) {
        .bannerImgWrapper::before {
            width: 9.5%;
            height: 59.45%;
            top: -1.25rem;
            left: 25rem;
        }

        .bannerImgWrapper::after {
            left: 18.5rem;
            top: -1.25rem;
        }
    }

    @media (min-width: 1440px) {
        .heroLeft div:first-child {
                flex: 1 0 49%;
            }
        
            .heroLeft span {
                display: block;
            }
        
            .heroLeft span::before {
                width: 53%;
                top: -30%;
                left: -4.5%;
            }
    }

    @media (max-width: 1388px) and (min-width: 991px) {
        .bannerImgWrapper::before{
            left: 94%;
        }

        .bannerImgWrapper::after{
            width: 30.5%;
            left: 63.85%;
        }
    }

    @media (max-width:1185px) {
        .heroLeft span{
            display: block;
        }

        .heroLeft span::before{
            left: 4.5%;
            width: 64%;
        }
    }

    @media (max-width:990px) {
        .heroRight {
            display: none;
        }

        .heroLeft {
            width: 100%;
        }

        .heroLeft div:first-child {
            padding-bottom: 0;
            flex: 1 0 52%;
        }

        .BannerImg {
            flex: 0 1 48%;
            left: 2rem;
        }

        .BannerImg img {
            width: 90%;
        }

        .bannerImgWrapper::before, .bannerImgWrapper::after {
            display: none;
        }

        .heroLeft p {
            width: 100%;
        }

        .playBtn {
            top: 23%;
            left: 35%;
        }

        .headerTop {
            display: none;
        }

        .header {
            height: inherit;
            justify-content: space-between;
            grid-column-end: 4;
        }

        .headerLogo {
            flex: 1 1 30%;
        }

        .headerLogo img {
            max-width: 100%;
        }

        .dNav {
            flex: 1 0 70%;
        }

        .headerBottom {
            margin-left: auto;
        }

        .headerBottom .navbar {
            margin-left: auto;
            text-align: right;
        }

        .navbar-toggler-icon {
            height: 1.25rem;
            width: 1.25rem;
        }
    }

    @media (max-width:767px){

        .bannerWrapper{
            display: block;
        }

        .header{
            padding-bottom: 0;
        }

        .BannerImg::before, .BannerImg::after {
            display: none;
        }

        .heroLeft span{
            display: block;
            font-size: 2.8rem;
        }

        .BannerImg {
            left: 0;
        }
        .BannerImg img {
            width: 100%;
        }
        .playBtn {
            top: 30%;
            left: 37.5%;
        }

        .heroLeft {
            padding: 2rem;
            flex-direction: column-reverse;
        }
    }

/* Banner Section Ends */

/* Bubble Animation */
    #background-wrap {
        bottom: 0;
        left: 10%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: -1;
        width: 25%;
    }

    /* KEYFRAMES */

    @-webkit-keyframes animateBubble {
        0% {
            margin-top: 100px;
        }

        100% {
            margin-top: 20%;
        }
    }

    @-moz-keyframes animateBubble {
        0% {
            margin-top: 1000px;
        }

        100% {
            margin-top: -100%;
        }
    }

    @keyframes animateBubble {
        0% {
            margin-top: 800px;
            opacity: 1;
        }

        90% {
            opacity: 1;
            transform: scale(initial);
        }

        100% {
            margin-top: 10%;
            opacity: 0;
            transform: scale(0.5);
        }
    }

    @-webkit-keyframes sideWays {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: 50px;
        }
    }

    @-moz-keyframes sideWays {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: 50px;
        }
    }

    @keyframes sideWays {
        0% {
            margin-left: 0px;
        }

        100% {
            margin-left: 50px;
        }
    }

    /* ANIMATIONS */

    .x1 {
        -webkit-animation: animateBubble 25s linear infinite, sideWays 1.5s ease-in-out infinite alternate;
        -moz-animation: animateBubble 25s linear infinite, sideWays 1s ease-in-out infinite alternate;
        animation: animateBubble 25s linear infinite, sideWays 1.5s ease-in-out infinite alternate;

        left: -5%;
        top: 5%;

        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
    }

    .x2 {
        -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
        animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

        left: 5%;
        top: 80%;

        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
    }

    .x3 {
        -webkit-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;
        animation: animateBubble 28s linear infinite, sideWays 3s ease-in-out infinite alternate;

        left: 10%;
        top: 40%;

        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        transform: scale(0.7);
    }

    .x4 {
        -webkit-animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;
        animation: animateBubble 22s linear infinite, sideWays 4s ease-in-out infinite alternate;

        left: 20%;
        top: 0;

        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }

    .x5 {
        -webkit-animation: animateBubble 29s linear infinite, sideWays 5s ease-in-out infinite alternate;
        -moz-animation: animateBubble 29s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
        animation: animateBubble 29s linear infinite, sideWays 5s ease-in-out infinite alternate;

        left: 30%;
        top: 50%;

        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        transform: scale(0.5);
    }

    .x6 {
        -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
        animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

        left: 50%;
        top: 0;

        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }

    .x7 {
        -webkit-animation: animateBubble 20s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
        -moz-animation: animateBubble 20s linear infinite, sideWays 2.5s ease-in-out infinite alternate;
        animation: animateBubble 20s linear infinite, sideWays 2.5s ease-in-out infinite alternate;

        left: 65%;
        top: 70%;

        -webkit-transform: scale(0.4);
        -moz-transform: scale(0.4);
        transform: scale(0.4);
    }

    .x8 {
        -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
        -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
        animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

        left: 80%;
        top: 10%;

        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }

    .x9 {
        -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
        -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
        animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

        left: 90%;
        top: 50%;

        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        transform: scale(0.6);
    }

    .x10 {
        -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
        -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
        animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

        left: 80%;
        top: 80%;

        -webkit-transform: scale(0.3);
        -moz-transform: scale(0.3);
        transform: scale(0.3);
    }

    /* OBJECTS */

    .bubble {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        box-shadow: 0 20px 30px rgb(156 49 49 / 20%), inset 0px 10px 30px 5px rgb(255 255 255);

        height: 200px;
        position: absolute;
        width: 200px;
    }

    .bubble:after {
        background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
        /* FF3.6+ */
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
        /* Chrome,Safari4+ */
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
        /* Chrome10+,Safari5.1+ */
        background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
        /* Opera 12+ */
        background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
        /* IE10+ */
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;

        -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

        content: "";
        height: 180px;
        left: 10px;
        position: absolute;
        width: 180px;
    }
/* Bubbble */

/* About Section */

    .aboutSection{
        grid-row-start: 3;
        grid-column: span 3;
        display: flex;
        padding-inline: 4rem;
        background-color: #f9f9f9;
        position: relative;
        padding: 3.5rem;
    }

    .aboutLeft{
        flex: 0 1 40%;
    }

    .aboutRight{
        flex: 1 1 60%;
        padding-right: 10rem;
    }

    .aboutRight ul{
        list-style: none;
        padding-left: 0;
    }

    .aboutRight ul li::before{
        content: '';
        padding: 0.5rem 1rem;
        background-image: url(images/listStyleImg.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
    }

    .aboutRight ul li{
        padding:  0.20rem;
    }

    .aboutLeft img{
        width: 70%;
    }

    .aboutRight h1{
        font-size: 3rem;
        padding: 0.75rem 0;
    }
    
    .aboutRight h3{
        padding-bottom: 1rem;
    }

    .experience,
    .trust {
        color: #aa2d2f;
    }

    .experience {
        font-size: 1.3rem;
    }

    .trust {
        font-size: 2rem;
    }

    .trust span {
        color: initial;
    }

    .aboutRight .benefits{
        font-size: 1.5rem;
        padding-bottom: 0rem;
    }

    .benefitsChecklist{
        padding: 0 0 0.75rem;
    }

    .aboutOverlay{
        position: absolute;
        right: -6.5rem;
        top: -0.25rem;
    }

    .aboutOverlay img{
        width: 60%;
    }

    @media (max-width:990px) {
        .aboutRight {
            position: relative;
            z-index: 2;
            padding-right: 1rem;
        }

        .aboutOverlay img {
            position: relative;
            z-index: 0;
        }
    }

    @media (max-width:767px) {
        .aboutSection{
            flex-direction: column;
            padding-inline: 2rem;
        }

        .aboutRight{
            padding-right: 2rem;
        }

        .trust span{
            font-size: 2.5rem;
        }
    }

/* About Section Ends */

/* Process section */
    .processSection{
        padding: 2rem 5.75rem;
        background: url(images/processText.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .processList{
        padding: 4rem 1rem;
    }

    .processCard{
        height: 18rem;
        width: 15rem;
        margin: 0 auto;
        z-index: 4;
    }

    .processCard:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .processCard .card-title{
        margin-inline: auto;
        padding-top: 4rem;
        font-family: 'Montserrat','Sans Serif';
        font-size: 1.2rem;
        position: relative;
    }

    .processCard .card-title::after{
        content: '';
        width: 3.75rem;
        height: 0.14rem;
        background: #aa2d2f;
        position: absolute;
        left: 31%;
        margin: 0 auto;
        bottom: -0.75rem;
    }

    .processContainer{
        position: relative;
        padding-top: 3rem;
    }

    .processBG{
        position: absolute;
        top: 4.2rem;
        left: -0.15rem;
    }

    .processBG img{
        width: 98%;
    }

    @media (max-width:767px){
        .processSection{
            padding: 2rem;
        }

        .processList{
            gap: 1rem;
        }

        .processBG{
            display: none;
        }
    }

    @media (max-width:991px) {
        .processBG{
            display: none;
        }

        .row{
            --bs-gutter-y:1.5rem;
        }

        .processSection{
            padding-inline: 3rem;
            background-size: 20%;
            background-position-y: 45%;
        }

        .processContainer{
            padding-top: 0;
        }
    }
    
/* Process section */

/* HorizontalYellowLine */
    .horizontalYellowLine{
        position: relative;
    }

    .horizontalYellowLine.underspan::before{
        content: '';
        width: 3.75rem;
        height: 0.215rem;
        background: #f8c205;
        position: absolute;
        margin: 0 auto;
        bottom: 1rem;
        right: 6.85rem;
    }

    @media (max-width:991px) {
        .horizontalYellowLine.underspan::before {
                    right: 19.85rem;
                }
        }

    @media (max-width:767px){
        .horizontalYellowLine.underspan::before{
            right: 12.85rem;
        }
    }

    @media (min-width:1440px) {
        .horizontalYellowLine.underspan::before{
            right: 9.85rem;
        }
    }

    .horizontalYellowLine.underabout::before {
        content: '';
        width: 3.75rem;
        height: 0.215rem;
        background: #f8c205;
        position: absolute;
        margin: 0 auto;
        bottom: 1rem;
        left: 0.5rem;
    }

    .horizontalYellowLine.underService::before{
        content: '';
        width: 3.75rem;
        height: 0.215rem;
        background: #f8c205;
        position: absolute;
        margin: 0 auto;
        top: 4.5rem;
        right: 6.5rem;
    }

    @media (max-width:767px) {
        .horizontalYellowLine.underService::before{
            top: -1.25rem;
            right: 14.5rem;
        }
    }

    .horizontalYellowLine.underPrice::before{
        content:'';
        width: 3.75rem;
        height: 0.215rem;
        background: #f8c205;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0.5rem;
    }
/* HorizontalYellowLine */

/* Service Section */
    .serviceSection{
        padding: 2rem 4rem;
        background: url(images/servicesBG.png);
        background-repeat: no-repeat;
        background-position-x: 80%;
    }

    .serviceSection h1{
        float: right;
        margin-right: 6rem;
        padding-bottom: 1rem;
    }

    #serviceCarousels{
        padding: 1rem 2rem;
    }

    .serviceRow .card{
        width: 20rem;
        margin: 0 auto;
        position: relative;
    }

    .serviceRow .card img{
        max-width: 100%;
        height: 18rem;
    }

    .card-svg{
        position: absolute;
        top: 9%;
        left: 1%;
    }

    .serviceRow .card .card-footer{
        background-color: #aa2d2f;
        color: white;
        font-family: 'Montserrat';
        text-transform: uppercase;
        text-align: center;
        border-radius:0;
    }

    .serviceRow .card-footer h3{
        font-size: 1.2rem;
        margin-bottom: 0;
    }

    .serviceBrief{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) ;
        width: 100%;
        padding-inline:1rem;
        text-align: center;
    }

    .serviceBrief h4{
        color: #aa2d2f;
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .serviceBrief p{
        color: black;
        font-size: 1rem;
    }

    .serviceRow .card:hover .card-image{
        opacity: 14%;
    }

    .serviceRow .card:hover .serviceBrief{
        display: block;
        opacity: 1;
    }

    .customCarouselControl-prev, .customCarouselControl-next{
        top: inherit;
        bottom: -10%;
    }

    .customCarouselControl-next{
        left: 5%;
    }

    .cusotmCarouselControl-next{
        left: 4rem;
        right: inherit;
    }

    .customCarouselControl-prevIcon, .customCarouselControlControl-nextIcon{
        background-image: none;
    }

    .customCarouselControl-prev span, .customCarouselControl-next span{
        font-family: "montserrat";
        font-size: 1rem;
        color: #787878;
    }

    .customCarouselControl-next span{
        color: #aa2d2f;
    }


    @media (max-width:991px) {
        .serviceSection {
            padding-inline: 0;
        }
    }

    @media (max-width:767px){
        .serviceSection{
            padding: 2rem;
        }

        .serviceSection h1{
            float: inherit;
        }

        #serviceCarousels{
            padding: 0;
        }

        .serviceRow{
            gap: 0.75rem;
        }

        .customCarouselControl-prev, .customCarouselControl-next{
            bottom: -4%;
            z-index: 4;
            width: 30%;
        }

        .customCarouselControl-prev{
            left: -10%;
        }

        .customCarouselControl-next{
            left: 10%;
        }
    }
/* Service section */

/* Pricing Section */
    .pricingSection{
        padding: 5rem 4rem;
        padding-bottom: 2rem;
        background: url(images/pricingBG.png);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position-y: 70%;
    }

    .pricingRow{
        padding-block: 2rem;
    }

    .pricingRow{
        margin: 0 auto;
    }

    .pricingCard{
        align-items: center;
        align-content: center;
        text-align: center;
        padding: 2rem 1rem;
        transition: 1s ease;
        height: 31.5rem;
        border: 1px solid #f8c205;
    }

    .pricingMain .pricingCard{
        height: 38rem;
    }

    .pricingCard .card-body{
        text-align: left;
    }

   
    .pricingCard .card-body .list-group-item{
        display: flex;
    }

    .pricingCard .card-body .list-group-item img{
        width: 10%;
        height: 10%;
        margin-right: 4px;
    }

    .pricingCard .card-img-top{
        width: 30%;
        position: relative;
        background-image: url(images/textbackground.png);
        background-size: 10rem 3.5rem;
        background-repeat: no-repeat;
        background-position: 95% 65%;
    }

    .pricingCard .enterpriseImg{
        width: 19%;
    }

    .pricingCard .premiumImg{
        width: 23%;
    }

    .disabled img{
        opacity: 0;
    }

    .buyPack{
        display: none;
    }

    .pricingCard:hover{
        /* height: 18rem; */
        padding-top: 7.5rem;
        border: none;
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    }

    .pricingCard .card-footer{
        transition: all 0.7s ease;
    }

    .pricingCard:hover .card-footer{
        transform: translateY(-130%);
    }

    .pricingCard:hover .list-group{
        display: none;
    }

    .pricingCard:hover .buyPack{
        display: block;
        padding-top: 1rem;
    }

    .pricingCard .card-title{
        font-family:'Montserrat';
        font-size: 1.4rem;
        font-weight: 600;
        color: #aa2d2f;
        text-transform: uppercase;
        margin-block:1rem 0.25rem;
    }

    .horizontalRedline{
        position: relative;
    }

    .horizontalRedline::before {
        content: '';
        width: 4.75rem;
        height: 0.215rem;
        background: #aa2d2f;
        position: absolute;
        margin: 0 auto;
        bottom: -1rem;
        right: -2.35rem;
    }

    @media (max-width:767px) {
        .pricingSection{
            padding: 2rem;
        }

        .pricingRow{
            gap: 1rem;
        }

        .pricingRow>*{
            padding: 0;
        }
    }

/* pricing Section */

/* Testimonial Section */
    .testimonialSection{
        padding: 4rem ;
        padding-top: 0;
        background-color: #f5f5f5;
    }

    .testimonialSection h1{
        float: right;
        margin-right: 3.5rem;
    }

    #testimonialCarousels{
        padding-top: 4rem;
        margin-top: 1rem;
    }

    .Testimonialslide{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 100%;
        column-gap: 2rem;
    }

    .testiUp{
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }

    .testiUp h4{
        color: #aa2d2f;
        font-size: 1.75rem;
        padding-left: 2rem;
    }

    .testiUp img{
        width: 20%;
    }

    .testiOne, .testiTwo{
        background: transparent;
        margin: 0 auto;
        cursor: pointer;
        flex: 1 1 40%;
        padding: 2rem 0 0 2rem;
    }

    .testiOne:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .testiTwo:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .Testimonialslide p{
        line-height: 2;
        padding-right: 4rem;
    }

    .testi.customCarouselControl-prev{
        left: -6%;
    }

    .testi.customCarouselControl-next{
        left: -1%;
    }

    @media (max-width:767px) {
        .testimonialSection{
            padding: 2rem;
        }

        h1,span{
            font-size: 3rem;
        }

        #testimonialCarousels{
            padding-top: 1rem;
        }

        .Testimonialslide{
            flex-direction: column;
        }

        .testiOne, .testiTwo{
            padding: 0;
            padding-bottom: 1rem;
        }

        .testiOne>p, .testiTwo>p{
            padding-right: 1rem;
        }

        .testi.customCarouselControl-prev{
            left: -13%;
            margin-bottom: 1.5rem;
        }

        .testi.customCarouselControl-next{
            left: 8%;
            margin-bottom: 1.5rem;
        }
    }

/* Testimonial Section */

/* Map section */
    iframe{
        width: 100vw;
        height: 400px;
    }
/* Map Section */

/* Footer Section */

    .footerSection{
        background-image: url(images/footerBG.png);
        background-size: cover;
    }

    .footerColWrapper{
        display: grid;
        padding: 2rem 3rem;
        grid-template-columns: 1.25fr 1fr 1fr 1fr;
        grid-column-gap: 1rem;
    }

    .footerLogo{
        width: 40%;
        margin-bottom: 1rem;
    }

    .footerColWrapper > div{
        padding: 2rem;
        font-family: 'Montserrat', 'sans serif';
        background: transparent;
        color: white;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .footerColWrapper>div:not(:first-child){
        padding-top: 4rem;
    }

    .footerColWrapper>div:last-child{
        padding-inline: 1.5rem;
    }

    .footerColWrapper>div>h4{
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.25rem;
    }

    .footerColWrapper>div>p{
        font-size: 0.95rem;
        font-weight: 400;
    }

    .quickLinks ul{
        list-style: none;
    }

    .quickLinks ul li{
        padding-block: 0.25rem;
    }

    .quickLinkList li{
        cursor: pointer;
    }

    .callFlex{
        display: flex;
        font-size: 0.95 rem;
    }

    .numbers{
        padding-left: 0.5rem;
    }

    .footerSection li a{
        color: #f9f9f9;
        text-decoration: none;
    }

    .footerSection .socialIcons li a{
        color: #f36466;
        opacity: 1;
        font-size: 1rem;
    }

    .footerCopyRight {
        display: flex;
        justify-content: space-between;
        padding: 1rem 4rem;
        background-color: #f8c205;
        align-items: center;
        font-family: 'Montserrat';
    }

    .footerCopyRight p{
        font-weight: 500;
        margin: 0;
    }

    @media (max-width:990px) {
        .footerIntro {
            grid-column: 1/5;
        }

        .contactus {
            grid-column: 3/5;
        }

        .numbers {
            padding-left: 0.25rem;
        }

        .quickLinkList {
            padding-left: 0;
        }

    }

    @media (max-width:767px) {

        .footerColWrapper{
            padding-top: 2rem;
            grid-template-columns: 1fr;
        }

        .footerColWrapper>div{
            grid-column: 1/5;
        }

        .numbers{
            padding-left: 2rem;
        }

        .footerCopyRight{
            padding: 0.85rem 1rem;
        }

        .footerCopyRight p{
            font-size: 0.8rem;
        }
    }
/* Footer section */

/* Sevices Page */
    /* Banner Section */
        .servicesBody .header{
            display: grid;
            grid-column-end: 4;
            padding-inline: 4rem;
        }

        .servicesBody .headerBottom{
            margin-left: 7rem;
        }

        .servicesBody .dNav{
            grid-column: 2/5;
        }

        .servicesBody .headerTopRight{
            margin-left: 33%;
        }

        .headerTRR{
            font-family: 'Montserrat', 'Sans serif';
            font-size: 0.9rem;
            color: #aa2d2f;
        }

        .headerTRR a{
            text-decoration: none;
            color: inherit;
            opacity: 0.8;
        }

        .headerTRR a:hover{
            opacity: 1  ;
        }

        .headerTRR a:visited{
            color: #aa2d2f;
            opacity: 1;
        }

        .servicesBody .bannerWrapper{
            background: url(images/serviceBannerBG.png);
            background-size: cover;
            height: 99.75vh;
        }

        .servicesBody .heroLeft {
            display: block;
            padding-left: 0;
            grid-column: 1/4;
            padding: 1rem 10rem;;
        }

        .servicesBody .heroLeft p{
            font-size: 1.25rem;
            padding-top: 1rem;
        }

        .servicesBody .heroLeft span{
            color: inherit;
            font-size: 4rem;
        }

        .servicesBody .heroLeft span::before{
        content: "";
        position: absolute;
        top: -27%;
        left: -20.5%;
        z-index: -1;
        background: url(images/textbackground.png);
        height: 140%;
        width: 134%;
        background-size: 100%;
        transform: rotate(-2deg);
        }

        @media (min-width: 1440px) {
            .servicesBody .heroLeft span::before{
                left: -5.5%;
                top: -10%;
                width: 30%;
                height: 115%;
            } 

            .servicesBody .heroLeft p{
                width: 45%;
            }
        }

        @media (max-width:990px) {
            .servicesBody .bannerWrapper{
                height: inherit;
            }

            .servicesBody .heroLeft{
                padding: 1rem 4rem;
            }

            .servicesBody .heroLeft p{
                width: 60%;
            }
        }

        @media (max-width:767px){
            .servicesBody .bannerWrapper{
                height: inherit;
            }

            .servicesBody .heroLeft{
                padding: 1rem 2rem;
            }
        }
    /* Banner section */

    /* Services Section */
        .serviceMain{
            padding: 2rem 4rem;
            text-align: center;
        }

        .serviceMain>h1{
            margin-bottom: 2rem;
            color: #aa2d2f;
        }

        .serviceMain>h4{
            position: relative;
        }

        .serviceMain>h4::before{
            content: "";
            position: absolute;
            width: 12.5%;
            left: 27%;
            height: 3px;
            top: 2.2rem;
            background: #f8c205;
            transform: translate(50%, -50%);
        }

        .serviceMain>p{
            width: 80%;
            margin: 0 auto;
            padding-top: 1rem;
        }
        
        .servicesBody .card-img-top{
            position: relative;
        }

        .serviceCardSide{
            position: absolute;
            top: 8%;
        }

        .serviceRow .card .yellowRect{
            height: 5rem;
        }

        .servicesBody .serviceRow{
            row-gap: 1rem;
            padding-top: 4rem;
            margin: 0 7rem;
        }

        @media (max-width:990px) {
            .serviceMain{
                padding: 2rem;
            }

            .servicesBody .serviceRow{
                margin: 0;
            }

            .serviceMain>h4::before{
                left: 17%;
            }
        }

        @media(max-width:767px){
            .serviceMain{
                padding: 2rem;
                text-align: left;
            }

            .serviceMain>p{
                width: 100%;
            }

            .servicesBody .serviceRow{
                margin: 0;
            }
        }
    /* Services Section */
/* Services Page Ends */

/* About page */
    .aboutMain{
        padding: 2rem;
        display: flex;
        width: 100%;
        padding-top: 4rem;
        margin-top: 4rem;
    }

    .aboutMainLeft{
        position: relative;
        flex: 1 0 50%;
        padding-right: 2rem;
    }

    .aboutMainLeft img{
        max-width: 100%;
    }

    .aboutMainLeft .imgWrapper{
        position: relative;
    }

    .aboutMainLeft .girlWash{
        position: absolute;
        left: 50%;
        top: 5%;
        width: 90%;
        transform: translateX(-50%);
    }

    .overlayAboutLeft{
        right: -10%;
        display: inline;
        position: absolute;
        top: -26%;
        width: 50%;
    }

    .overlayAboutLeft h4{
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .overlayAboutLeft span{
        font-family: 'Montserrat';
        font-size: 1.5rem;
        color: #aa2d2f;
        text-transform: lowercase;
    }

    .aboutMainRight{
        padding-inline: 3rem 8rem;
    }

    .aboutMainRight h1{
        color: #aa2d2f;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .aboutMainRight h4{
        position: relative;
        font-size: 1.75rem;
        font-weight: 600;
        line-height: 1.25;
        width: 80%;
        margin-bottom: 2rem;
    }

    .aboutMainRight h4::before{
        content: '';
        height: 2.5px;
        width: 20%;
        background-color: #f8c205;
        border-radius: 15%;
        position: absolute;
        bottom: -5%;
    }

    .benefitsChecklist{
        list-style: none;
        margin-top: 2rem;
    }

    .benefitsChecklist h3{
        font-weight: 600;
        font-size: 1.4rem;
    }

    .benefitsChecklist li{
        margin-bottom: 0.4rem;
    }

    .benefitsChecklist li::before{
        content:'';
        padding: 0.5rem 1rem;
        background-image: url(images/listStyleImg.png);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
    }

    .statsCounter{
        display: flex;
        padding: 2rem 4rem;
        justify-content: space-between;
        text-align: center;
        margin-block: 2.5rem;
    }

    .statsCounter h3{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 500;
        color: #aa2d2f;
    }

    .statsCounter>div>h1{
        text-transform: uppercase;
        color: inherit;
        position: relative;
        display: inline;
    }

    .statsCounter h1::before{
        content: '';
        height: 2.5px;
        width: 40%;
        position: absolute;
        bottom: -5%;
        left: 4%;
        background: #f8c205;
        animation: creepIn 7.5s;
        text-align: center;
    }

    @keyframes creepIn {
        0%{
            width: 0%
        }

        100%{
            width: 40%;
        }
    }

    /* Responsive */
    @media only screen and (max-width:990px) {
        .servicesBody .heroLeft span::before{
            width: 45%;
            left: -1.5%;
            background-repeat: no-repeat;
            top: 0;
        }

        .aboutMain{
            flex-direction: column;
            padding: 2rem 2rem 0;
            margin-top: 8rem;
        }

        .aboutMainRight{
            padding: 3rem 2rem 0;
        }

        .servicesBody .testimonialSection h1{
            padding-top: 2rem;
            margin: 0;
            float: none;
            text-align: center;
        }

        .servicesBody .horizontalYellowLine.underService::before{
            top: 0.25rem;
            left: 4rem;
            right: initial;
        }

        .servicesBody #testimonialCarousel{
            padding: 2rem;
            margin: 0;
        }

        .servicesBody .Testimonialslide p{
            padding: 0;
        }

        .servicesBody .testiOne, .servicesBody .testiTwo{
            padding: 0
        }

        .servicesBody .testi.customCarouselControl-next{
            left: 3%;
        }
    }

    @media only screen and (max-width: 767px) {
        .servicesBody .heroLeft span::before {
                width: 75%;
        }

        .servicesBody .header{
            display: flex;
            padding-inline: 1.5rem
        }

        .servicesBody .heroLeft{
            padding: 4rem 2rem;
        }

        .servicesBody .heroLeft p{
            width: 100%;
        }

        .aboutMain{
            flex-direction: column;
            margin-top: 1rem;
        }

        .aboutMainLeft{
            padding: 0;
        }

        .aboutMainLeft span, h4{
            font-size: 1rem;
        }

        .aboutMainRight{
            padding: 2.5rem 0;
        }

        .statsCounter{
            padding: 0;
            margin: 0;
        }

        .statsCounter h3{
            font-size: 0.95rem;
        }

        .statsCounter h1{
            font-size: 1.75rem;
        }

        .servicesBody .testimonialSection h1{
            font-size: 2.25rem;
        }

        .servicesBody .horizontalYellowLine.underService::before{
            top: 0.5rem;
            right: initial;
            left: 1%;
        }
    }

    @media only screen and (min-width:1700px) and (max-width: 1919px) {
        .servicesBody .heroLeft span::before{
            width: 22.5%;
            left: -1.5%;
        }

        .overlayAboutLeft {
            right: -18%;
            top: -20%;
        }

        .overlayAboutLeft h4{
            transform: translate(-60%, -50%);
            font-size: 2rem;
        }
    }

    @media only screen and (min-width: 1920px) {
        .servicesBody .overlayAboutLeft h4{
            transform: translate(-65%, -50%);
        }

        .overlayAboutLeft{
            right: -22%;
            top: -18%;
        }

        .servicesBody .heroLeft span::before{
            left: -1.5%;
            top: 0%;
            width: 20%;
            background-repeat: no-repeat;
        }
    }

    @media only screen and (min-width: 2100px) {
        .servicesBody .overlayAboutLeft h4{
            transform: translate(-75%, -50%);
        }
    }

    @media only screen and (min-width: 2360px) {
        .overlayAboutLeft h4{
            font-size: 2rem;
            transform: translate(-90%, -50%);
        }
    }
/* About Page ends */

/* Process Page */
    .processMain {
        padding: 2rem 1rem;
    }
    
    .processMain .topText {
        text-align: center;
    }
    
    .topText h1 {
        color: #aa2d2f;
    }
    
    .topText h4 {
        margin: 1rem 0;
        font-size: 1.75rem;
        position: relative;
    }
    
    .topText h4::before {
        content: "";
        position: absolute;
        width: 7%;
        left: 25%;
        height: 3px;
        top: 2.5rem;
        background: #f8c205;
        transform: translate(50%, -50%);
    }
    
    .topText p {
        width: 50%;
        margin: auto;
    }
    
    .cardSection .card:hover #icon {
        fill: #f9f9f9;
    }
    
    .processBottom {
        display: grid;
        grid-template-columns: 2fr 3fr;
        width: 80%;
        margin: auto;
    }
    
    .processBottomLeft {
        margin-left: auto;
        border-right: 1px solid black;
    }
    
    .processBottomLeft embed {
        float: left;
        padding-right: 0.75rem;
    }
    
    .processBottomLeft h1 {
        font-size: 2.5rem;
        margin-top: 2rem;
    
    }
    
    .processBottomRight {
        padding-left: 2rem;
    }
    
    .processBottomRight h4 {
        position: relative;
        font-size: 1.65rem;
    }
    
    .processBottomRight h4:before {
        content: "";
        position: absolute;
        width: 10%;
        left: -5%;
        height: 3px;
        top: 2.5rem;
        background: #f8c205;
        transform: translate(50%, -50%);
    }
    
    .processBottomRight h6 {
        margin-block: 2rem 0.5rem;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: 0.75px;
    }
    
    /* Responsiveness */
    @media only screen and (max-width: 767px) {
        .processMain .topText {
            text-align: left;
            padding-left: 1rem;
        }
    
        .topText p {
            width: 100%;
        }
    
        .topText h4 {
            line-height: 1.3;
        }
    
        .topText h4::before {
            top: 2.35rem;
            left: -7%;
            width: 20%;
        }
    
        .processMain .processSection {
            padding: 2rem 1rem;
        }
    
        .processBottom {
            grid-template-columns: 1fr;
        }
    
        .processBottomLeft {
            border: none;
        }
    
        .processBottomRight {
            padding: 1.75rem 0;
        }
    }

/* Process Page Ends */

/* Contact Page */
    .goalRightBottom {
        padding: 4rem;
        margin-inline: 4rem;
    }

    .contactMain>h4::before {
        width: 7.5%;
        left: 33%;
    }

    .form-control {
        border-radius: 0;
        border-color: #aa2d2f;
    }

    .contactBody .form-floating>label {
        padding-inline-start: 1.5rem;
    }

    .contactList {
        display: flex;
        margin: auto;
        justify-content: space-around;
        width: 55%;
        font-family: 'montserrat';
        font-weight: 500;
        padding: 1.2rem 0;
    }

    .contactList span {
        font-weight: 400;
        font-family: inherit;
        font-size: 1rem;
    }

    .contactList p {
        font-weight: 600;
    }

    .contactList a {
        text-decoration: none;
        color: inherit;
        font-weight: 500;
    }

    .contactList a:hover {
        opacity: 0.9;
    }

    .form-floating>label {
        font-family: "montserrat", sans-serif;
        font-weight: 400;
        color: #a1a1a1;
        padding: 1rem 1.5rem;
    }

    .form-control:focus {
        border-color: #ef373b;
        box-shadow: 0 0 3.5px 0.01rem #813234;
    }

    .careerBody .goalRightBottom {
        padding-top: 2.5rem;
    }

    .form-floating>.introArea {
        padding: 3.25rem;
    }

    .form-floating>.introArea:focus {
        padding: 3.25rem;
    }

    .btn3 {
        background-color: #9e3335;
        border: none;
        color: white;
        padding: 0.65rem 4.5rem;
        transition: 0.35s ease-in;
    }

    .btn3:hover {
        background-color: white;
        color: #aa2d2f;
    }

    .goalRightBottom .rightCol {
        margin-left: auto;
    }

    @media only screen and (min-width:992px) and (max-width:1180px) {
        .servicesBody .heroLeft span:before {
            left: -7.5%;
            width: 55%;
        }
    }

    @media only screen and (min-width: 570px) and (max-width: 670px) {
        .servicesBody .heroLeft span::before {
            width: 60%;
        }
    }

    @media only screen and (min-width: 671px) and (max-width: 767px) {
        .servicesBody .heroLeft span::before {
            width: 50%;
        }
    }

    @media only screen and (min-width: 880px) and (max-width:1023px) {
        .serviceMain>h4::before {
            width: 10%;
            left: 30%;
        }

        .contactList {
            width: 75%;
        }
    }

    @media only screen and (min-width: 320px) {
        .servicesBody .heroLeft {
            padding: 2rem 1rem;
        }

        .servicesBody .heroLeft span {
            font-size: 3.5rem;
        }

        h1 {
            font-size: 2.5rem;
        }

        .serviceMain {
            padding: 1rem;
        }

        .serviceMain>h4::before {
            top: 1.5rem;
            width: 25%;
            left: -10%;
        }

        .contactList {
            flex-direction: column;
            margin: 0;
            width: 100%;
        }

        .contactList span {
            display: none;
        }

        .goalRightBottom {
            padding: 0;
            margin: 0;
        }

        .goalRightBottom .form-floating {
            padding: 0;
        }
    }

    @media only screen and (min-width:425px) {
        .servicesBody .heroLeft {
            padding: 4rem 2rem;
        }

        .serviceMain {
            padding: 2rem;
        }

        .serviceMain>h4 {
            font-size: 1.25rem;
        }

        .serviceMain>h4::before {
            top: 1.75rem;
        }

    }

    @media only screen and (min-width: 768px) {
        .serviceMain>h4::before {
            width: 13%;
            left: 23%;
        }

        .contactList {
            flex-direction: row;
            margin: auto;
        }

        .contactList span {
            display: inline;
        }
    }

    @media only screen and (min-width:922px) {
        .goalRightBottom .col-lg-6 {
            width: 49%;
        }
    }


    @media only screen and (min-width: 1024px) {
        .serviceMain>h4::before {
            width: 7.5%;
            left: 33%;
        }

        .serviceMain {
            padding: 2rem 4rem;
        }

        .contactList {
            width: 60%;
        }

        .servicesBody .heroLeft {
            padding: 1rem 10rem;
        }
    }

    @media only screen and (min-width: 1200px) {
        .serviceMain>h4::before {
            width: 5%;
            left: 37.5%;
        }
    }

    @media only screen and (min-width: 1580px) {
        .serviceMain>h4::before {
            width: 4%;
            left: 40%;
        }

        .contactList {
            width: 40%;
        }
    }

/* Contact Page Ends */

/* Pricing Page */
    .pricingCard .card-footer{
    display: flex;
    column-gap: 0.5rem;
    border-top: 1.75px solid #f8c205;
    }

    .pricingCard .card-footer h1{
        color: #aa2d2f;
    }

    .pricingCard .card-footer h6{
        font-size: 1.5rem;
    }
/* Pricing Page */

/* Login page */
.loginWrapper {
    column-gap: 5%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.loginLeft {
    flex: 1 2 60%;
    padding: 5% 5% 0;
    background-image: url(images/loginPageBG.png);
    background-size: cover;
    background-position-x: 25rem;
}
.loginLeft img{
    max-width: 100%;
}

.loginForm {
    flex: 1 0 40%;
    text-align: center;
    padding: 5% 2.5%;
    box-shadow: -1px 20px 14px -3px rgb(0 0 0 / 50%)
}

.loginForm form {
    padding: 2rem 0;
}

.formWrapper {
    margin-top: 4rem;
}

.logoBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75%;
}

.loginLeft .bottomImg {
    margin-top: 2rem;
}

.inputTab {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2.5rem;
}

.usrIcon {
    background: linear-gradient(#9e3335, #ef373b);
    padding: 1rem;
    border-radius: 50%;
    position: relative;
    left: 2.5rem;
    top: -0.5rem;
    z-index: 11;
}

.usrIcon img {
    width: 20px;
}

.inputTab .form-control {
    padding-inline: 3.5rem;
    height: calc(3rem + 2px);
    background-color: #e9e8e8;
    border-radius: 2rem;
}

.inputTab .form-label {
    padding-inline-start: 3.25rem;
    padding-block: 0.85rem;
    color: #8d8d8d;
}

.loginOptions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0;
    font-family: 'open sans';
    font-weight: 500;
    font-size: 1rem;
}

.loginOptions a {
    color: #0e2549;
}

.loginOptions div:nth-child(2) a{
    color: #813234;
}

form .btn2{
    border-radius: 25px;
    width: 30%;
    margin-top: 1rem;
}

.createAC{
    margin-block: 1rem;
    border-top: 1px solid #bebcbc;
    width: 50%;
    margin-inline: auto ;
}

.createAC a{
    text-decoration: none;
    
}

@media screen and (min-width: 992px) {
    .loginWrapper {
        flex-direction: row;
    }
}

/* Login Page */

/* DashBoard Page */
.dash {
    padding: 1% 4%;
}

.topNav .navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    row-gap: 0.5rem;
}

.topNav .navbar>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.navIcon {
    width: 25px;
    height: 25px;
}

.dash h4 {
    font-size: 1.15rem;
    margin: 0;
}

.dash h4 span {
    font-family: inherit;
    font-size: inherit;
    color: #9e3335;
}

.searchBar {
    display: flex;
}

.srchBtn {
    display: flex;
}

.srchBtn p {
    color: inherit;
}

.prT {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.prT p {
    margin: 0;
    line-height: 1.1;
    font-weight: 600;
}

.plus {
    border-radius: 50%;
    border: 1px dotted grey;
}

.plus p {
    margin: 0;
    padding: 8px 12px
}

.dashboard {
    padding-top: 2rem;
}

.leftNav ul {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 0.75rem;
}

.dashboard .card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.tab-content .row {
    --bs-gutter-y: 1rem;
}

.tab-content {
    padding-top: 2.5rem;
    transition: 0.5s ease forward;
}

.leftNav {
    grid-template-columns: 2fr 7fr;
    position: relative;
}

.leftNav .nav .nav-item {
    display: flex;
    column-gap: 0.5rem;
    margin-bottom: 0.75rem;
    align-items: center;
}

.leftNav .nav .nav-item>button {
    width: 100%;
    height: 4rem;
}

.leftNav .nav .nav-link.active {
    background-color: #fee7e8;
    border-right: 4px solid #aa2d2f;
}

.leftNav .nav-link.active .tabTitle img{
    filter: grayscale(0);
}

.tabTitle {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    align-items: center;
}

.buttonBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profileImg {
    padding: 0.75rem;
    border-radius: 50%;
    background-color: #fee7e8;
}

.leftNav .card {
    border-radius: 0;
}

.leftNav .card h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #aa2d2f;
    margin: 0;
}
.leftNav .nav-link{
    color: #495057
}
.leftNav .card-footer {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.drMenu {
    list-style: none;
    position: absolute !important;
    left: -8rem !important;
    top: 3rem !important;
    padding: 1rem;
}

.drMenu li {
    padding-bottom: 0.5rem;
}

.drMenu li a {
    text-decoration: none;
    color: inherit;
}

.drMenu li a:hover {
    color: #3fb850;
}

.dropdown-toggle::after {
    content: '+';
    border: 0.3px solid #fee7e8;
    padding: 0.5rem;
}

.leftNav .card-footer h6 {
    font-size: 0.9rem;
}

.leftNav .cardBodyLeft {
    padding: 2rem 0 0;
}
.tabTitle img{
    filter: grayscale(0.9);
}

.leftNav .nav-item>button:active .tabtitle img{
    filter: grayscale(0);
}
.leftNav .cardBodyLeft p {
    font-size: 0.9rem;
    margin: 0;
}
.arrowSign{
    padding: 0 4px;
    background-color: #eeeeee;
}
.leftNav .nav .nav-link.active .arrowSign{
    background-color: #9e3335;
    color: white;
}
.tabContentImg {
    height: 4rem;
}

input.hs-search-field_input {
    height: 50px;
    font-size: 14px;
    background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: none;
}   

.navbar .form-control {
    border-radius: 2rem 0 0 2rem;
}
.search{
    position: relative;
}
.search i{
    position: absolute;
    left: 1rem;
    color: #adadad;
}

.searchBar .form-control{
    padding-left: 2.5rem;
}

.navbar form .btn1 {
    border-radius: 0 2rem 2rem 0;
}

@media only screen and (max-width: 991px) {
    .leftNav {
        grid-template-columns: 4fr 7fr;
    }
}

@media only screen and (max-width: 767px) {
    .leftNav {
        grid-template-columns: 1fr;
    }

    .leftNav ul {
        position: absolute;
        transform: translateX(-110%);
        transition: 0.5s ease all;
        z-index: 5;
    }

    .profileImg {
        padding: 0.1rem;
        position: relative;
        left: 14rem;
    }

    .tab-content {
        margin-top: 2rem;
    }

    .leftNav ul.slideIn {
        transform: translate(0);
        position: relative;
    }

    .navbar .form-control,
    .navbar button {
        height: 2.5rem;
        margin: auto;
    }
}

/* dash board */